.firstDiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 167, 4);
}

.heading{
    font-size: 3rem;
    font-weight: 200;
    color: #fff;
    letter-spacing: 2px;
}